@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Step by Step @ViewData["passos"]</p>

<address>
    <p>Um site de gerenciamento de vendas e vendedores!</p>
</address>