@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>Emails Adress</h4>
    <li><strong>Email:</strong> lucas.gabryell@souunit.com.br<br /></li>
    <li><strong>Email:</strong> rodney.furtado@souunit.com<br /></li>
    <li><strong>Email:</strong> yuri.rezende@souunit.com.br<br /></li>
    <li><strong>Email:</strong> iago.silveira@souunit.com.br<br /></li>
    <li><strong>Email:</strong> fabiola.leleo@souunit.com.br<br /></li>


<h4>GitHub Acount</h4>
    <li><strong>GitHub:</strong> <a href="https://github.com/LucasGabryell">GitHub Lucas</a><br /></li>
    <li><strong>GitHub:</strong> <a href="https://github.com/RodneyAssis">GitHub Rodney</a><br /></li>
    <li><strong>GitHub:</strong> <a href="https://github.com/yuri3476">GitHub Yuri</a><br /></li>

<h4>Linkedin Acount</h4>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/lucas-romão-131b3a200/">LinkedIn Lucas</a><br /></li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/rodney-furtado/">LinkedIn Rodney</a><br /></li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/yurii-rezende/">LinkedIn Yuri</a><br /></li>
